
.NavBar {
    background-color: var(--nav-bg-color);
    width: 100vw;
    height: 6rem;
    padding: 2rem;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.LeftNavBar {
  display: flex;
  gap: 1.5rem;
}

.Logo {
    font-size: 2rem;
}

.Button {
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  padding: 0.4rem 1rem;
  cursor: pointer;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.login {
  background-color: var(--login-color);
}

.add {
  background-color: var(--add-color);
}